
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

button {
    display: inline-block;
    padding: 0.7em 2em;

    cursor: pointer;
    background: #FAA500;
    color: #fff;
    font-size: 14px;
    height: 40px;
    line-height: initial;
    text-align: center;
    outline: none;
    border: none;
    box-sizing: border-box;
    border-radius: 8px;

    -webkit-transition: all 0.18s cubic-bezier(0.11, 0.96, 0.78, 1);
    -moz-transition: all 0.18s cubic-bezier(0.11, 0.96, 0.78, 1);
    transition: all 0.18s cubic-bezier(0.11, 0.96, 0.78, 1);
}
button:hover {
    opacity: 0.7;
}
body ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
input {
    outline: 0;
}
input::placeholder{
    color: #353535;
}
@media (min-width: 767px) {
    .mobile {
        display: none; /* Exibe o conteúdo apenas em telas menores */
    }
    .footer-menu .wrapper-footer .column .column-title .icon {
        display: none;
    }
}



body {
    font-family: "Titillium Web", sans-serif;
    color: #353535;
    font-weight: 400;
    margin: 0;
    padding-top: 160px;
}
body #header {
	position: fixed;
	top: 0;
	width: 100%;
	transition: all 0.2s ease;
	z-index: 99;
}

#middle {
	max-width: 100%;
	width: 100%;
	padding: 0;
    margin-bottom: 77px;
}
.wrapper-content {
	max-width: 1224px;
	margin: 0 auto;
}
.wrapper {
	max-width: 1598px;
	margin: 0 auto;
}
#content-wrapper {
	max-width: 1210px;
	margin: 0 auto;
}
.showcase {
    margin-bottom: 77px;
}


body #header .top-header {
    height: 24px;
    background-color: #353535;
    color: #fff;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 100;
    transition: all 0.2s ease;
}
body.header-fixed #header .top-header,
body.header-fixed #header .menu-header {
    height: 0;
    min-height: initial;
    visibility: hidden;
    opacity: 0;
}
body #header .top-header .input-wrapper {
    display: inline-flex;
}

body #header .main-header .logo {
    cursor: pointer;
}
body #header .main-header {
    background-color: #fff;
}
body #header .main-header .search {

    position: relative;
    width: 100%;
    max-width: 791px;
    margin: 0 145px 0 91px;
}
body #header .main-header .search .input-wrapper {
    display: contents;
}
body #header .main-header .search input {
    width: 100%;
    height: 40px;
    background-color: #efefef;
    border: 0px;
    border-radius: 10px;
    padding-left: 24px;
    box-sizing: border-box;
}
body #header .main-header .search button {
    width: 119px;
    position: absolute;
    right: 0;
    top: 0;
}
body #header .main-header .main-bar {
    box-shadow: 0px 4px 6px 0px #00000014;
}
body #header .main-header .main-bar .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;
}
body #header .main-header .navigation {
    display: flex;
    justify-content: space-between;
    width: 400px;
    align-items: center;
    font-size: 14px;
}
body #header .main-header .navigation > div {
    display: flex;
    cursor: pointer;
    margin-right: 32px;
}
body #header .main-header .navigation > div:hover {
    opacity: 0.7;
}
body #header .main-header .navigation > div img {
    margin-right: 8px;
}
body #header .main-header .navigation .account span {
    width: 80px;
}
body #header .main-header .navigation .cart {
    width: 134px;
    height: 46px;
    border-radius: 8px;
    border: 1px solid #FAA500;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin: 0;
}

/* MENU HEADER */
body #header .main-header .menu-header .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
}
body #header .main-header .menu-header .wrapper ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: 1018px;
}
body #header .main-header .menu-header .wrapper ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin: 0;
    padding: 0;
    height: 100%;
    cursor: pointer;
}
body #header .main-header .menu-header .wrapper ul li:hover {
    opacity: 0.7;
}
body #header .main-header .menu-header .wrapper ul li.highlight {
    color: #FAA500;
    font-weight: bold;
}
body #header .main-header .menu-header .wrapper ul li.highlight img {
    margin-right: 8px;
}
body #header .main-header .menu-header .wrapper .conditions-content .card img {
    margin-right: 10px;
}

/* FULL BANNER */

.fullbanner {
    width: 100%;
    height: 100%;
}

.fullbanner .banner img {
    width: 100%;
    cursor: pointer;
}
.fullbanner .banner img {
    transition: all 2s ease;
}
.fullbanner .banner img:hover {
    transform: scale(1.1);
}


/* SLICK DOTS CUSTOM */
.fullbanner .slick-dots {
    bottom: 40px;
    position: absolute;
    width: 100%;
}
.fullbanner .slick-dots {
	position: relative;
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.fullbanner .slick-dots li button {
	background-color: transparent;
	width: 16px;
	height: 16px;
	font-size: 0;
    border: 1px solid #FAA500;
}
.fullbanner .slick-dots li button:hover {
	background-color: #FAA500;
	opacity: 1;
}
.fullbanner .slick-dots li.slick-active button {
	background-color: #FAA500;
}
.fullbanner .slick-dots li button:before {
    display: none;
}


.fullbanner .slick-next {
    right: 7%;
}
.fullbanner .slick-prev {
    left: 7%;
    z-index: 1;
}
.slick-prev:before, .slick-next:before {
    display: none;
}



.general-conditions {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.general-conditions .conditions-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24.34px;
    text-align: center;
    margin-bottom: 18px;
}
.conditions-content {
    max-width: 100%;
}
.general-conditions .conditions-content .card {
    padding: 15px 5px 15px 27px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #efefef;
    margin: 7px;
    border-radius: 4px;
    display: flex;
    min-width: 307px;
}
.general-conditions .card.products.slick-slide.slick-active {
    display: flex;
}
.general-conditions .card img {
    margin-right: 23px;
}
.conditions-content .card .content-card .conditions-card-title{
    font-weight: bold;
}
.conditions-content .card .content-card .conditions-card-subtitle {
    min-width: 210px;
}

.carousel-brands {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel-brands .brands-content {
    width: 1598px;
    max-width: 100%;
}
.carousel-brands .brand {
    float: left;
}
.carousel-brands .brand img {
    margin: 0 auto;
    cursor: pointer;
}
.carousel-brands .brand img {
    transition: all 2s ease;
}
.carousel-brands .brand img:hover {
    transform: scale(1.1);
}
.carousel-brands .brands-title {
    font-family: Titillium Web;
    font-size: 32px;
    font-weight: 700;
    line-height: 48.67px;
    text-align: center;
    margin-bottom: 22px;
}



/* MIDDLE  */

.showcase .showcase-title {
    font-family: Titillium Web;
    font-size: 32px;
    font-weight: 700;
    line-height: 48.67px;
    text-align: center;
    margin-bottom: 22px;
}
.showcase .item-product {
    margin: 0 10px;
}
.showcase .item-product img {
    width: 100%;
}
.showcase-discription {
    width: 308px;
    box-sizing: border-box;
    padding: 0 25px;
}
.showcase-discription .product-variations-media {
    display: flex;
    padding: 10px 0;
}
.showcase-discription .product-variations-media .variation-item {
    display: block;
    width: 27px;
    height: 27px;
    border-radius: 4px;
    margin-right: 8px;
    border: 1px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
}
.showcase-discription .product-variations-media .variation-item:first-child {
    border-color: #353535;
}
.showcase-discription .product-variations-media .variation-item:hover {
    border-color: #353535;
}


.showcase-discription .product-variations-media .variation-item.american-blue {
    background-color: #3C3B79;
}
.showcase-discription .product-variations-media .variation-item.blue-gray {
    background-color: #6497D3;
}
.showcase-discription .product-variations-media .variation-item.vanilla {
    background-color: #CFC9B0;
}
.showcase-discription .product-variations-media .variation-item.platinum {
    background-color: #EAE9E5;
}
.showcase-discription .product-variations-media .variation-item.venetian-red {
    background-color: #D84E4B;
}
.showcase-discription .product-variations-media .variation-item.eerie-black {
    background-color: #1C1A19;
}
.showcase-discription .product-variations-media .variation-item.fuzzy-wuzzy {
    background-color: #D37164;
}
.showcase-discription .product-variations-media .variation-item.fawn {
    background-color: #DEAC71;
}

.showcase-discription .product-price {
    font-weight: 700;
    font-size: 20px;
}
.showcase-discription .product-name {
    font-weight: 400;
    font-size: 16px;
}
.showcase-discription .product-discription {
    font-weight: 400;
    font-size: 12px;
    box-sizing: border-box;
    min-height: 60px;
    margin: 10px 0;
}
.showcase-discription button {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    box-sizing: border-box;
    padding: initial;
    height: 35px;
}
.showcase .slick-next {
    right: 10px;
}
.showcase .slick-prev {
    left: 0px;
    z-index: 1;
}


.banner-showcase {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-showcase .discription {
    max-width: 420px;
    margin-right: 65px;
}
.banner-showcase .discription .discription-title{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}
.banner-showcase .discription-content {
    font-size: 14px;
}
.banner-showcase .banner {
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
}
.banner-showcase .banner img {
    width: 100%;
}
.banner-showcase .banner img {
    transition: all 2s ease;
}
.banner-showcase .banner img:hover {
    transform: scale(1.1);
}



/* FOOTER  */

.wrapper-footer {
    max-width: 950px;
}
.wrapper-footer {
    display: flex;
    justify-content: center;
}

.newsletter {
    border-top: 2px solid #efefef;
    border-bottom: 2px solid #efefef;
    display: flex;
    justify-content: center;
    height: 120px;
    align-items: center;
}
.newsletter-title {
    font-weight: bold;
    font-size: 24px;
    margin-right: 55px;
}
.newsletter input {
    width: 630px;
    height: 40px;
    border: 0px;
    border-radius: 4px;
    padding-left: 24px;
    box-sizing: border-box;
    border: 1px solid #353535;
}
.newsletter button {
    width: 119px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 4px;
}
.newsletter-input {
    position: relative;
}
.footer-menu {
    padding: 45px 0 60px 0;
}
.footer-menu .wrapper-footer {
    display: flex;
    justify-content: space-between;
    width: 950px;
    margin: 0 auto;
    max-width: 100%;
}
.footer-menu .wrapper-footer .column .column-title {
    font-weight: bold;
}
.footer-menu .wrapper-footer .column ul li {
    margin: 20px 0;
    cursor: pointer;
}
.footer-menu .wrapper-footer .column ul li:hover {
    text-decoration: underline;
    opacity: 0.7;
}



.footer {
    background-color: #333;
    min-height: 85px;
    display: flex;
    padding: 12px 0;
    box-sizing: border-box;
    color: #fff;
}
.footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1598px;
}
.footer .wrapper > div {
    display: flex;
    justify-content: space-between;
    padding: 13px 0;
}
.footer .wrapper > div > div {
    font-size: 10px;
    margin-right: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer .wrapper > div > div span {
    margin-bottom: 5px;
}

/* SHORT DESKTOP*/
@media (max-width: 1640px) {
    body #header .main-header .main-bar .wrapper,
    .banner-showcase,
    .footer {
        padding: 0 20px;
    }
    body #header .main-header .search {
        margin: 0 5% 0 7%;
    }

}

/* MOBILE */
@media (max-width: 767px) {
    body {             
        padding-top: 112px;
    }
    #middle {
        margin-bottom: 40px;
    }
    body #header .main-header .navigation,
    body #header .main-header .search,
    #header .menu-header {
        display: none;
    }
    body #header .main-header .main-bar .wrapper{
        margin: 0;
    }
    .hamburguer.mobile {
        padding: 20px;
        display: flex;
    }
    .navigation-mobile.mobile {
        display: flex;
        align-items: center;
    }
    .navigation-mobile.mobile > div {
        margin: 20px;
    }
    body #header .main-header .logo {
        cursor: pointer;
        margin-right: 70px;
    }
    body #header .main-header .main-bar .logo-content {
        display: flex;
        align-items: center;
    }
    .showcase {
        margin-left: 15px;
    }
    .carousel-brands {
        margin-left: 30px;
    }
    .carousel-brands .brands-content {
        width: initial;
        max-width: 100%;
    }
    .general-conditions {
        margin-left: 30px;
    }
    .general-conditions .conditions-content {
        width: initial;
        max-width: 100%;
    }


    .banner-showcase {
        flex-direction: column;
        margin: 0 30px;
    }
    .banner-showcase .discription {
        margin-right: initial;
        max-width: initial;
    }
    .banner-showcase .discription-content {
        margin-bottom: 26px;
    }
    .banner-showcase .banner img {
        border-radius: 4px;
    }

    .footer-menu {
        padding: 30px;
    }
    .footer-menu .column-content {
        display: none;
    }
    .footer-menu .wrapper-footer .column {
        width: 100%;
        padding: 8px 0;
    }
    .footer-menu .wrapper-footer .column .column-title {
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }
    
    .footer-menu .wrapper-footer {
        width: 100%;
        align-items: flex-start;
    }
    
    .wrapper-footer {
        flex-direction: column;
        align-items: center;
    }
    .newsletter input {
        width: 204px;
        height: 26px;
        margin-right: 12px;
    }
    .newsletter .newsletter-title {
        margin-right: initial;
        margin-bottom: 8px;
    }
    .newsletter button {
        position: initial;
        width: 79px;
        height: 29px;
        padding: 0;
    }

    .footer {
        padding: 12px 0 0;
    }
    .footer .wrapper {
        width: 100%;
        flex-direction: column;
    }
    .modal-banner {
        display: none;
    }
}


#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
  }
  
  #modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 848px;
    max-width: 90%;
    background-color: #fff;
}
s#modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
  #fade,
  #modal {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
    z-index: 99;
    display: flex;
    align-items: center;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
  
  .modal-body p {
    margin-bottom: 1rem;
  }
  
  #modal.hide,
  #fade.hide {
    opacity: 0;
    pointer-events: none;
  }
  
  #modal.hide {
    top: 0;
  }
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 52px;
    text-align: center;
    width: 100%;
}
.modal-banner {
    display: flex;
}
#modal .modal-content .modal-title {
    font-size: 20px;
    margin-bottom: 30px;
    color: #787D83;
}
#modal .modal-content .modal-title b {
    display: block;
}
#modal #close-modal {
    position: absolute;
    top: -32px;
    color: #fff;
    right: 0;
    text-transform: uppercase;
    cursor: pointer;
}
#modal .modal-content .modal-greet {
    color: #464B54;
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 12px;
}
#modal .modal-input input {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding-left: 24px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 1px solid #C4C4C4;
}
.modal-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 30px;

}
#modal .modal-input input {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding-left: 24px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 1px solid #C4C4C4;
}
#modal .modal-input button.\#close-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#modal .modal-input button.\#close-modal span {
    margin-left: 7px;
    margin-top: 5px;
}
#modal .modal-input input::placeholder{
    color: #787D83;
}
@media (max-width: 767px) {
    .modal-banner {
        display: none;
    }
    .modal-content {
        padding: 30px;
    }
    #modal .modal-input input {
        border-radius: 4px;
        padding-left: 12px;
    }
}