
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.btn, button {
    display: inline-block;
    padding: 0.7em 2em;

    cursor: pointer;
    background: #FAA500;
    color: #fff;
    font-size: 14px;
    height: 40px;
    line-height: initial;
    text-align: center;
    outline: none;
    border: none;
    box-sizing: border-box;
    border-radius: 8px;

    -webkit-transition: all 0.18s cubic-bezier(0.11, 0.96, 0.78, 1);
    -moz-transition: all 0.18s cubic-bezier(0.11, 0.96, 0.78, 1);
    transition: all 0.18s cubic-bezier(0.11, 0.96, 0.78, 1);
}

input {
    outline: 0;
}
input::placeholder{
    color: #353535;
  }
@media (min-width: 767px) {
    .mobile {
        display: none; /* Exibe o conteúdo apenas em telas menores */
}
}




body {
    font-family: "Titillium Web", sans-serif;
    color: #353535;
    font-weight: 400;
    margin: 0;
    padding-top: 160px;
}
body #header {
	position: fixed;
	top: 0;
	width: 100%;
	transition: all 0.2s ease;
	z-index: 99;
}

#middle {
	max-width: 100%;
	width: 100%;
	padding: 0;
    margin-bottom: 77px;
}
.wrapper-content {
	max-width: 1224px;
	margin: 0 auto;
}
.wrapper {
	max-width: 1598px;
	margin: 0 auto;
}
#content-wrapper {
	max-width: 1210px;
	margin: 0 auto;
}
.showcase {
    margin-bottom: 77px;
}


body #header .top-header {
    height: 24px;
    background-color: #353535;
    color: #fff;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
body #header .top-header .input-wrapper {
    display: inline-flex;
}

body #header .main-header .logo {
    cursor: pointer;
}
body #header .main-header {
    background-color: #fff;
}
body #header .main-header .search {

    position: relative;
    width: 100%;
    max-width: 791px;
    margin: 0 145px 0 91px;
}
body #header .main-header .search .input-wrapper {
    display: contents;
}
body #header .main-header .search input {
    width: 100%;
    height: 40px;
    background-color: #efefef;
    border: 0px;
    border-radius: 10px;
    padding-left: 24px;
    box-sizing: border-box;
}
body #header .main-header .search button {
    width: 119px;
    position: absolute;
    right: 0;
    top: 0;
}
body #header .main-header .main-bar {
    box-shadow: 0px 4px 6px 0px #00000014;
}
body #header .main-header .main-bar .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;
}
body #header .main-header .navigation {
    display: flex;
    justify-content: space-between;
    width: 400px;
    align-items: center;
    font-size: 14px;
}
body #header .main-header .navigation > div {
    display: flex;
    cursor: pointer;
    margin-right: 32px;
}
body #header .main-header .navigation > div img {
    margin-right: 8px;
}
body #header .main-header .navigation .account span {
    width: 80px;
}
body #header .main-header .navigation .cart {
    width: 134px;
    height: 46px;
    border-radius: 8px;
    border: 1px solid #FAA500;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin: 0;
}

/* MENU HEADER */
body #header .main-header .menu-header .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
}
body #header .main-header .menu-header .wrapper ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: 1018px;
}
body #header .main-header .menu-header .wrapper ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin: 0;
    padding: 0;
    height: 100%;
    cursor: pointer;
}
body #header .main-header .menu-header .wrapper ul li.highlight {
    color: #FAA500;
    font-weight: bold;
}
body #header .main-header .menu-header .wrapper ul li.highlight img {
    margin-right: 8px;
}
body #header .main-header .menu-header .wrapper .conditions-content .card img {
    margin-right: 10px;
}

/* FULL BANNER */

.fullbanner {
    width: 100%;
    height: 100%;
}

.fullbanner .banner img {
    width: 100%;
}


/* SLICK DOTS CUSTOM */
.fullbanner .slick-dots {
    bottom: 40px;
    position: absolute;
    width: 100%;
}
.fullbanner .slick-dots {
	position: relative;
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.fullbanner .slick-dots li {

}
.fullbanner .slick-dots li button {
	background-color: transparent;
	width: 16px;
	height: 16px;
	font-size: 0;
    border: 1px solid #FAA500;
}
.fullbanner .slick-dots li button:hover {
	background-color: #FAA500;
	opacity: 1;
}
.fullbanner .slick-dots li.slick-active button {
	background-color: #FAA500;
}
.fullbanner .slick-dots li button:before {
    display: none;
}
.slick-prev:before, .slick-next:before {

}
.fullbanner .slick-next {
    right: 7%;
}
.fullbanner .slick-prev {
    left: 7%;
    z-index: 1;
}
.slick-prev:before, .slick-next:before {
    display: none;
}



.general-conditions {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.general-conditions .conditions-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24.34px;
    text-align: center;
    margin-bottom: 18px;
}

.general-conditions .conditions-content .card {
    padding: 15px 5px 15px 27px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #efefef;
    margin-right: 15px;
    border-radius: 4px;
    display: flex;
}
.general-conditions .card.products.slick-slide.slick-active {
    display: flex;
}
.general-conditions .card img {
    margin-right: 23px;
}
.conditions-content .card .content-card .conditions-card-title{
    font-weight: bold;
}
.conditions-content .card .content-card .conditions-card-subtitle {
    min-width: 210px;
}

.carousel-brands {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel-brands .brands-content {
    width: 1598px;
}
.carousel-brands .brand {
    float: left;
}
.carousel-brands .brand img {
    margin: 0 auto;
}
.carousel-brands .brands-title {
    font-family: Titillium Web;
    font-size: 32px;
    font-weight: 700;
    line-height: 48.67px;
    text-align: center;
    margin-bottom: 22px;
}



/* MIDDLE  */

.showcase .showcase-title {
    font-family: Titillium Web;
    font-size: 32px;
    font-weight: 700;
    line-height: 48.67px;
    text-align: center;
    margin-bottom: 22px;
}
.product-discription {
    width: 308px;
}



.banner-showcase {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-showcase .discription {
    max-width: 420px;
}
.banner-showcase .discription .discription-title{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}
.banner-showcase .discription-content {
    font-size: 14px;
}


/* FOOTER  */

.wrapper-footer {
    max-width: 950px;
}
.wrapper-footer {
    display: flex;
    justify-content: center;
}

.newsletter {
    border-top: 2px solid #efefef;
    border-bottom: 2px solid #efefef;
    display: flex;
    justify-content: center;
    height: 120px;
    align-items: center;
}
.newsletter-title {
    font-weight: bold;
    font-size: 24px;
    margin-right: 80px;
}
.footer {
    background-color: #333;
    width: 100%;
    height: 85px;
}

/* MOBILE */


@media (max-width: 767px) {
    body {             
        padding-top: 112px;
    }
    body #header .main-header .navigation,
    body #header .main-header .search,
    #header .menu-header {
        display: none;
    }
    .hamburguer.mobile {
        padding: 20px;
        display: flex;
    }
    .navigation-mobile.mobile {
        display: flex;
        align-items: center;
    }
    .navigation-mobile.mobile > div {
        margin: 20px;
    }
    body #header .main-header .logo {
        cursor: pointer;
        margin-right: 70px;
    }
    body #header .main-header .main-bar .logo-content {
        display: flex;
        align-items: center;
    }
    
}